.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main--title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: var(--big-font-size);
  color: var(--white);
  height: 100%;
}
