form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: var(--light-gray);
  padding: 10px;
  gap: 10px;
}

.form--title {
  color: var(--light-blue);
  font-weight: 900;
  font-size: var(--big-font-size);
  margin-right: 20px;
  align-items: left;
}

.form--text {
  color: var(--black);
  font-weight: 900;
  margin-right: 20px;
}

.form--input {
  width: 500px;
  height: 50px;
  border: none;
}

.form--button {
  width: 150px;
  height: 50px;
}

.form-large--input {
  width: 500px;
  height: 200px;
  border: none;
}