:root {
  /* colors */
  --light-yellow: #ffe21d;
  --dark-yellow: #ffd21d;
  --light-blue: #24afff;
  --dark-blue: #248bff;
  --pink: #f26c6c;
  --green: #26b667;
  --black: #000000;
  --white: #ffffff;
  --light-gray: #F0F0F0;
  --light-gray2: #F8F8F8;
  --gray: #787878;

  /* font */
  --font-montserrat: 'Montserrat';
  --default-font-size: 1em;
  --small-font-size: 0.8em;
  --big-font-size: 3em;
  --spacing-unit: 10px;
}
